input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('assets/top-view-coins-paper-money-laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;                               
    padding: 100px 120px;             
    margin: 50px;
}

.title {
    margin-top: 13rem;
    flex: 1;
    margin-left: 5rem;
}

.title h3 {
    color: gray;
    font-weight: 400;
}

.title h1 {
    font-size: 3rem;
    margin: 10px 0;
}

.title p {
    color: #555;
    line-height: 1.6;
    max-width: 500px;
}

.currencyConverter {
    flex: 1;
    padding: 40px;
    border-radius: 20px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f1f2f3a9;
}

.amountInput label {
    font-weight: 500;
    color: #333;
    margin: 0 0 5px 0;
    font-size: 14px;
    padding-left: 12px;
}

.amountInput {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    gap: 6px;
}

.amountInput input:hover {
    background: #f1f2f3a9;
    border-radius: 5px;
    cursor: text;
}

.amountInput input {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 14px;
    font-size: 1.1rem;
    font-weight: 600;
    background: #ffffff;
    color: #333;
    outline: none;
    transition: background 0.2s ease;
}

.amountInput input::placeholder {
    color: #8d8f93;
    font-weight: 500;  
    font-size: 1rem;   
    opacity: 1;       
    font-style: italic;
}

.errorMessage {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 10px;
    border-radius: 8px;
    color: #a94442;
    font-size: 0.9rem;
}

.fromCurrency select, .toCurrency select {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background: white;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    padding: 12px 14px;
}

.fromCurrency select:focus, .toCurrency select:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.swapButton {
    justify-content: center;
}

.swapButton button {
    border: none;
    background: #f1f2f3;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

.swapButton button:hover {
    background: #e2e3e5;
}

.convertButton button {
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.convertButton button:hover {
    background: #333;
}

.conversionInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 12px;
}

.conversionRate, .result {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    background-color: white;
    border-radius: 12px;
    padding: 0 15px;
}

.conversionRate p, .result p {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

#rateValue {
    font-weight: bold;
    font-size: 1rem;
}

#resultValue {
    font-weight: bold;
    font-size: 2rem;
}